body {
    color: rgb(125, 32, 211);
    background-image: url(https://qph.cf2.quoracdn.net/main-qimg-3a0b40d96c53860572a1c29970ce14a8);
    /*background-repeat: repeat;*/
    font-family: fantasy;
    padding: 20px;
    text-align: center;
  }

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: space-evenly;
  }

  .column {
    flex: 50%;
    padding: 0 3px;
    justify-content: space-evenly;
    margin-top: 7px;
    vertical-align: middle;
    justify-content: space-evenly;
  }

a:link {
    color: rgb(221, 168, 177);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(210, 165, 216);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(255, 0, 242);
    background-color: transparent;
    text-decoration: underline;
  }

  @keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
  }

  
  h1 {
    margin: auto;
    font-size: 3.5rem;
    font-weight: 300;
    animation: lights 5s 750ms linear infinite;
  }
  ul {padding-right: 5%;
  color: rgb(247, 120, 228);
  background-color: rgb(23, 21, 53;

  )
}
  p {color:rgb(213, 189, 214) !important;}

  .welcome {background-color: rgb(23, 21, 53);
    display:inline-block;}


  h2 {color:rgb(165, 138, 191)}

  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    background-color: rgb(23, 21, 53);
  }
  
  fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid rgb(148, 94, 135);
  }

  /*.grid-wrapper {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 15ny;
    column-gap: 1em;
    row-gap: lem;
  }*/

  .me {padding-top: 10px;}
